
body {
  background-color: #000;
}

.vp-controls-wrapper {
  display:none;
}

.wrapper {

}


.video {
  width: 100vw;
}

iframe {
}


.fitImg{
    position: absolute;
}

.box__centered {
    left: 50%;
    position: absolute;
    top: 50%;
}


.box__contents{
    text-align: center;
    transform: translate(-50%,-50%);
}
