.wrapper {
}

.box {
}


.box__centered {
  left: 50%;
  position: absolute;
  top: 50%;
}


.box__contents{
  text-align: center;
  transform: translate(-50%,-50%);
}

.box__title {
  width: 18em;
}

.box__text {
  font-size: 2.5em;
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  color: #fff;
}



#drawer-checkbox {
  display: none;
}
#drawer-icon {
  cursor: pointer;
  display: inline-block;
  height: 90px;
  position: relative;
  width: 90px;
	z-index: 150;
}
#drawer-icon span {
    content: "";
    position: absolute;
    top: calc(50% - 10px);
    left: 40%;
    width: 70%;
		display: block;
	  height: 5px;
	  margin-bottom: 17px;
	  position: relative;
	  background: #fff;
	  border-radius: 3px;
	  z-index: 150;
	  transform-origin: 4px 0px;
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              opacity 0.55s ease;
}

#drawer-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 60vw;
  height: 100%;
  background: #fff;
  transition: all 0.3s ease-in-out 0s;
  transform: translateX(-101%);
}

@media screen and (min-width:1024px) {
  #drawer-content {
    width: 380px;
  }
}

#drawer-checkbox:checked ~ #drawer-content {
  transform: translateX(0);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
}

#drawer-close {
  display: none;
  position: fixed;
  z-index: 39;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
#drawer-checkbox:checked ~ #drawer-close {
  display: block;
  opacity: 0.3;
}

.headder {
  background-color: #000;
}

.icon_container {
  display: flex;
  justify-content: space-between;
}

.icon {
  width:60px;
}

@media screen and (min-width:1024px) {
  .icon {
    width:48px;
  }
}

.menu {
  padding:180px 80px 40px;
}

ul {
  padding-left: 0;
}


li {
  margin-bottom: 40px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  font-style: italic;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:active {
  color: #000;
}

a:hover {
text-decoration: underline;
}


video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 88px;
  left: 0;
}


body
{
  margin: 0;
  padding: 0;
}


#drawer-icon span:first-child
{
  transform-origin: 0% 0%;
}

#drawer-icon span:nth-last-child(3)
{
  transform-origin: 0% 100%;
}


#drawer-checkbox:checked ~ #drawer-icon span{
  opacity: 1;
  transform: rotate(-45deg) translate(2px, -1px);
  background: #232323;
}


#drawer-checkbox:checked ~ #drawer-icon span:nth-last-child(3){
  opacity: 1;
  transform: rotate(45deg) translate(0, -1px);
}


#drawer-checkbox:checked ~ #drawer-icon span:nth-last-child(2) {
	opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2)
}
